:host {
  display: block;
  margin-left: 25px;
  margin-top: 10px;
}

b {
  margin-left: 5px;
}

input {
  display:inline-block;
  white-space: nowrap;
  margin-right: 10px;
  margin-left: 0px;
}

li {
  list-style-type: none;
  margin-left: 25px;
}
