:host {
  list-style-type: none;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  display: inline;
}

.caret::before {
  color: black;
  display: inline-block;
  white-space: nowrap;
  margin-right: 5px;
  margin-top: 10px;
}

.caret-down::before {
  transform: rotate(90deg);
}
